- name: Install Python 3 and pip
  become: yes
  ansible.builtin.package:
    name: 
      - python3
      - python3-pip
    state: present

- name: Install Flask
  ansible.builtin.pip:
    name: Flask
    state: present
    executable: pip3 # or pip, depending on your system's Python setup
